@import "./variables.css";

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-family-noto-sans-regular, "sans-serif");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--page-background);
}

@media (prefers-color-scheme: light) {
	:root {
		--page-background: var(--white-alternate);
		--primary: var(--taupe);
		--seconary: var(--kombu);
		--btn-font-color: var(--white-alternate);
		--btn-background-color: var(--primary);
		--btn-shadow: var(--filter-1);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-background: var(--black-alternate);
		--primary: var(--white-alternate);
		--secondary: var(--taupe);
		--btn-font-color: var(--grey-font-color);
		--btn-background-color: var(--grey-2);
		--btn-shadow: var(--filter-1);
	}
}
