@font-face {
	font-family: "NotoSansRegular";
	src: url("../assets/fonts/noto-sans/NotoSans-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "NotoSansBold";
	src: url("../assets/fonts/noto-sans/NotoSans-Bold.ttf") format("truetype");
	font-display: swap;
}

:root {
	--font-family-noto-sans-regular: NotoSansRegular;
	--font-family-noto-sans-bold: NotoSansBold;

	--white: white;
	--white-alternate: #fcfcfc;
	--grey-font-color: rgb(173, 186, 199);
	--black-alternate: #22272e;
	--purple-color: #6c63ff;
	--grey-color: #a8a8a8;
	--grey-2: #373e47;
	--taupe: #815e5b;
	--kombu: #303a2b;
	--dark-green: #297373;
	--filter-1: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	--primary: var(--taupe);
	--secondary: var(--kombu);
	--font-color: var(--black-alternate);
	--page-background: var(--white-alternate);
	--btn-font-color: var(--white);
	--btn-background-color: var(--primary);
	--btn-shadow: var(--filter-1);
}
