.home_page {
	text-align: center;
}

.app_name {
	font-family: var(--font-family-noto-sans-bold, "sans-serif");
	color: var(--seconary);
}

.hero_image {
	width: 80%;
	height: auto;
}

.hero_container {
	margin: 1rem 0 4rem;
}

.chuno_btn {
	background: var(--btn-background-color);
	border: 1px solid var(--grey-color);
	box-shadow: var(--btn-shadow);
	border-radius: 32px;
	color: var(--btn-font-color);
	padding: 1rem 2.8rem;
	font-size: 1.2rem;
	cursor: pointer;
}

@media screen and (min-width: 720px) {
	.hero_image {
		width: 35%;
	}
}
