.home_page {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.app_name {
	font-family: var(--font-family-noto-sans-bold, "sans-serif");
	color: var(--seconary);
}

.hero_image {
	min-width: 80%;
	max-width: 90%;
	height: 100%;
}

.chuno_btn {
	background: var(--btn-background-color);
	border: 1px solid var(--grey-color);
	filter: var(--btn-shadow);
	border-radius: 32px;
	color: var(--btn-font-color);
	padding: 1rem 2.8rem;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 3rem;
}

.page_description {
	padding: 0 1rem;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.hero_image {
	}
}
